body {
  font-family: Arial;
  background: #f2f2f2;
}

.box {
  width: 300px;
  margin: 120px auto;
  background: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  padding: 8px 20px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}